<div class="container mb-3">
  <table>
    <thead>
      <tr class="row">
        <% @board.first.each_with_index do |cell, slot| %>
          <% column_filled = @board[0][slot] != 0 %>
          <th class="col pt-2 pb-2 <%= 'filled' if column_filled %>">
            <input type="radio" name="slot" value="<%= slot %>" <%= 'disabled' if column_filled %> >
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @cell_style ||= { 0 => 'empty', 1 => 'player1', 2 => 'other-player' } %>
      <% @board.each do |row| %>
        <tr class="row">
          <% row.each do |cell| %>
            <td class="col <%= @cell_style[cell] %> text-center">
              <%= cell %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>